.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.text-overflow(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xlg-min: 1400px;

@green-color-1: #34bfa3;
@green-color-2: #18760e;

@red-color-1: #FF4d4d;

@brown-color-1: #52281d;

@text-color: #444648;

@primary-color: #c6a13f;

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

input[type="password"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="text"],
input[type="search"]{
    border-radius: 4px;
    border-color: @primary-color;

    &:focus{
        outline: none !important;
        box-shadow: none !important;
        border-color: @primary-color;
    }

    &.error{
        border-color: @red-color-1;
    }

    &.style-2{
        border-radius: 0;
        border: none;
        border-bottom: 1px solid @primary-color;
        box-shadow: none;
    }
}

a{
    cursor: pointer;
}

@max-mobile-size: 441px;

html{
    background-color: #000;
}

body{
    -webkit-font-smoothing: antialiased;
    font-family: "Prompt";
    font-weight: 300;
    position: relative;
    transition: left .6s cubic-bezier(.19,1,.22,1);
    max-width: @max-mobile-size;
    background-color: #fff;

    // padding-bottom: 42px;

    // width: 320px;
    margin: auto;
    min-height: 100vh;
}

form{
}

#my-form{
    padding-bottom: 42px;
}

.row{
    &.no-gap{
        margin-left: 0;
        margin-right: 0;

        [class^="col-"]{
            padding-left: 0;
            padding-right: 0;
        }
    }

    &.narrow{
        margin-left: -7px;
        margin-right: -7px;

        [class^="col-"]{
            padding-left: 7px;
            padding-right: 7px;
        }
    }
}

textarea{
    resize: none;
}

.btn{
    &.btn-default{
        background: #fff;
        border-color: #888;

        &:active{
            background: #fff;
            border-color: #888;
        }
    }

    &.btn-primary{
        background: @primary-color;
        border-color: @primary-color;

        &:active{
            background: @primary-color;
            border-color: @primary-color;
        }
    }

    &.btn-brown-1{
        background-color: @brown-color-1;
        border-color: @brown-color-1;
        color: #fff;

        &:active{
            background-color: @brown-color-1;
            border-color: @brown-color-1;
        }
    }

    &.btn-grey-1{
        background: #ddd;
        border-color: #ddd;
        color: @text-color;

        &:active{
            background: #ddd;
            border-color: #ddd;
        }
    }

    &.btn-grey-2{
        background: #4a4a4a;
        border-color: #4a4a4a;
        color: #fff;

        &:active{
            background: #4a4a4a;
            border-color: #4a4a4a;
        }
    }

    &.btn-grey-3{
        background: #464646;
        border-color: #464646;
        color: #fff;

        &:active{
            background: #464646;
            border-color: #464646;
        }
    }

    &.btn-rounded{
        border-radius: 50px;
        padding-left: 20px;
        padding-right: 20px;
    }

    &.btn-size-100{
        min-width: 100px;
    }

    &.btn-size-150{
        min-width: 150px;
    }

    &.small{
        padding: 2px 7px;
        font-size: 12px;
    }

    &.big{
        font-size: 18px;
        padding: 10px;
    }

    &.btn-link{

    }

    &.btn-bottom{
        margin-top: 20px;
        border-radius: 0;
        padding: 10px;

        &.fixed{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 2;
            max-width: @max-mobile-size;
            margin: auto;
        }
    }

    &.btn-skelleton{
        border: 1px solid @primary-color;
        background: transparent;
        color: @primary-color;
    }

    &.btn-rectangle{
        border-radius: 0;
    }

    &.fb-btn{
        background-color: #3b5998;
        border-color: #3b5998;
        color: #fff;
    }

    &.line-btn{
        background-color: #1dbd03;
        border-color: #1dbd03;
        color: #fff;
    }
}

.item-loading-panel,
#item-loading-panel{
    display: none;
    text-align: center;
    padding: 60px 0 20px;

    img{
        width: 24px;
        opacity: 0.5;
    }
}

.item-loading-panel{
    padding-top: 30px;
    display: block;
}

#loading-panel{
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1060;
    display: none;

    .loading-icon,
    img{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -32px auto 0;
    }

    &.in-panel{
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    &.circle{
        img{
            width: 72px;
            margin-top: -36px;
        }
    }
}

img{
    max-width: 100%;
    max-height: 100%;
}

#login-page{
    text-align: center;

    #body-wrapper{
        background: url('./../images/login-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        min-height: 100vh;
    }

    #login-panel{
        max-width: 400px;
        margin: auto;
        padding: 20px 10px;

        #login-logo{
            margin: 40px 0;
            height: 90px;
            display: block;
        }

        [name="username"],
        [name="password"]{
            height: 48px;
            padding-left: 80px;
            background-repeat: no-repeat;
            background-position: left center;
            background-color: #f4f1e7;
            border: none;
            line-height: normal;
            border-radius: 0;

            &:focus{
                border: none;
                box-shadow: none;
            }
        }

        [name="username"]{
            background-image: url('./../images/login-icon.png');
        }

        [name="password"]{
            background-image: url('./../images/password-icon.png');
        }

        #login-btn{
            padding: 10px;
            font-weight: 400;
            font-size: 16px;
            background-color: @brown-color-1;
            margin-bottom: 10px;
        }

        #fb-login-btn{
            padding: 0 10px;
            font-weight: 500;
            font-size: 14px;
            background-color: #3b5998;
            border-color: #3b5998;
            height: 40px;
            line-height: 40px;
            overflow: hidden;

            i{
                font-size: 16px;
                line-height: 1;
            }
        }

        #line-login-btn{
            padding: 0 10px;
            font-weight: 500;
            font-size: 14px;
            background-color: #55d204;
            border-color: #55d204;
            height: 40px;
            line-height: 40px;
            overflow: hidden;

            img{
                max-height: 28px;
            }
        }

        #login-form{
            margin-bottom: 20px;
        }

        .btn-link{
            border-bottom: 1px solid #fff;
            color: #fff;
            font-weight: 400;
            padding: 0;
            margin-bottom: 30px;

            &:hover{
                text-decoration: none;
            }
        }
    }

    #copyright-text{
        color: #fff;
        font-size: 11px;
        margin: 30px 0;
    }
}

#header-panel{
    min-height: 64px;
    background: url('./../images/navigationbar-bg.png') no-repeat top center;
    background-size: cover;
    color: #fff;
    position: fixed;
    z-index: 5;
    left: 0;
    right: 0;
    margin: auto;
    max-width: @max-mobile-size;

    &.step{
        + main{
            padding-top: 97px;
        }
    }

    + main{
        padding-top: 64px;
    }

    #back-btn{
        color: #fff;
        display: block;
        position: absolute;
        left: 16px;
        top: 22px;
    }

    .header-left-btn{
        left: 16px;
    }

    .header-right-btn{
        right: 16px;
    }

    .header-right-btn,
    .header-left-btn{
        color: #fff;
        display: block;
        position: absolute;
        top: 22px;
        list-style: none;
        font-weight: 400;

        > li{
            display: inline-block;
            vertical-align: middle;

            > a{
                color: #fff;
                display: block;
                min-width: 24px;
                min-height: 24px;
                line-height: 24px;
                font-size: 13px;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    #main-menu{
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
    }

    .title{
        font-weight: 400;
        font-size: 18px;
        margin: 20px 0 0;
        display: block;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
        width: ~"calc(100% - 60px)";
        margin: 20px auto 0;
        .text-overflow();
    }

    .header-step{
        margin: 10px auto 15px;
        display: block;
        // max-width:
    }
}

section{
    &.top-space{
        margin-top: 40px;

        &.small{
            margin-top: 30px;
        }
    }
}

.section-icon{
    margin-right: 15px;
    display: inline-block;
    font-size: 20px;
    line-height: 16px;
    vertical-align: middle;
}

.section-title{
    margin: 20px 0;
    font-weight: 400;
    font-size: 16px;

    &.underline{
        border-bottom: 1px solid #ddd;
        padding-bottom: 10px;
    }
}

label{
    font-weight: 500;
}

#profile-page{
    background: url('./../images/profile-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    min-height: ~"calc(100vh - 64px)";

    #profile-card{
        text-align: center;
        margin: 20px auto;
        border-radius: 13px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
        width: 316px;
        max-width: ~"calc(100vw - 40px)";

        &.family{
            #profile-card-bottom,
            #profile-card-top{
                -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                filter: grayscale(100%);
            }
        }
    }

    #profile-card-top{
        background-image: url('./../images/profile-image-bg.jpg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center -2px;
        height: 61px;
        text-align: left;

        #profile-logo{
            max-height: 40px;
            margin-top: 10px;
            margin-left: 20px;
        }

        #profile-title{
            text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
            color: #fff;
            font-size: 20px;
            font-weight: 400;
            margin-top: 13px;
        }
    }

    #profile-card-body{
        margin-top: -4px;
        padding: 20px;
        min-height: 380px;
        background-image: url('./../images/profile-card-body.png');
        background-color: #dae0eb;
        background-repeat: no-repeat;
        background-size: auto;
        background-position: bottom left -60px;

        #profile-image{
            border-radius: 50%;
            display: block;
            background: #eee;
            width: 100px;
            height: 100px;
            border: 10px solid #ddd;
            margin: 0 auto 10px;
            background-size: cover;
            background-position: top center;
        }

        #profile-name{
            font-size: 18px;
            font-weight: 400;
            margin-bottom: 5px;
        }

        #profile-nickname{
            margin-bottom: 5px;
        }

        #member-code{
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 5px;
        }

        #profile-info{
            margin-top: 15px;

            .profile-field{
                text-align: left;
                font-size: 12px;

                + .profile-field{
                    margin-top: 6px;
                }

                .field-icon{
                    float: left;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-position: center center;
                    vertical-align: top;
                    margin-right: 4px;
                    margin-top: -2px;

                    &.mobile{
                        background-image: url('./../images/icon-phone.png');
                    }

                    &.line{
                        background-image: url('./../images/icon-lineid.png');
                    }

                    &.fb{
                        background-image: url('./../images/icon-facebook.png');
                        background-size: 20px auto;
                    }

                    &.address{
                        background-image: url('./../images/icon-position.png');
                    }
                }

                .field-content{
                    display: block;
                    vertical-align: top;
                    margin-left: 25px;

                    .field-label{
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    #profile-card-bottom{
        background-image: url('./../images/profile-card-bottom.png');
        background-repeat: no-repeat;
        background-size: 110% auto;
        background-position: center bottom -7px;
        height: 6px;
    }
}

.form-group{
    &.space-1{
        margin-bottom: 10px;
    }

    label{
        margin-left: 16px;

        &.no-offset-left{
            margin-left: 0;
        }
    }
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
.bootstrap-select{
    display: block !important;
    width: 100%;

    .dropdown-toggle{
        margin-bottom: 15px;
        border-color: @primary-color;

        &:focus{
            box-shadow: none !important;
            outline: none !important;
        }
    }

    .dropdown-menu{
        > li{
            > a{
                box-shadow: none !important;
                outline: none !important;

                &:focus{
                    box-shadow: none !important;
                    outline: none !important;
                }
            }
        }
    }
}

.button-panel{
    margin-top: 40px;

    &.bottom{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        max-width: @max-mobile-size;
        margin: auto;

        a{
            border-radius: 0;
            padding: 10px;

            + a{
                margin-top: 0;
            }
        }
    }
}

#request-otp-btn{
    margin-top: 5px;
    background: #464646;
    color: #fff;
    padding: 10px 15px;
}

#complete-icon{
    display: block;
    margin: 60px auto 20px;
}

.text-1{
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
}

.text-2{
    font-size: 14px;
    margin-bottom: 20px;
}

#slip-image-upload-btn{
    border: 1px solid @primary-color;
    border-radius: 10px;
    width: 130px;
    height: 80px;
    line-height: 74px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;

    &.has-image{
        // background-size: cover;
        background-image: none !important;
    }

    &.big{
        width: 200px;
        height: 200px;
        line-height: 194px;
    }
}

#profile-image-upload-btn{
    margin: 20px auto;
    border-radius: 50%;
    border: 2px solid #ddd;
}

#profile-image-upload-text{
    margin-bottom: 40px;
}

.file-upload-wrapper{
    display: block;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center center;
    margin: auto;

    &.profile-image{
        width: 80px;
        height: 80px;
    }

    &.has-image{
        &:hover{
            .icon,
            .title{
                opacity: 0;
            }
        }

        .icon,
        .title{
            opacity: 0;
        }
    }

    &.user-image{
        border-radius: 50%;
        display: block;
        width: 80px;
        height: 80px;
        background-color: #ddd;
        position: relative;
        background-image: url('./../images/user-default.png');
        background-position: top center;
        background-size: cover;
    }

    .file-upload{
        cursor: pointer;
        font-size: 240px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }
}

#gos-info-btn{
    color: #fff;
    font-weight: 400;

    &:hover{
        text-decoration: none;
    }
}

#side-menu-panel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: #fff;

    .side-menus{
        list-style: none;

        > li{
            > a{
                display: block;
            }
        }
    }
}

#news-page{
    padding: 15px 0 30px;
    background: url('../images/login-bg.png');
    background-attachment: fixed;
    background-position: center center;

    .panel-default{
        border: none;

        .panel-heading{
            background: #c6a13f;
            color: #fff;
        }
    }

    .panel-body{
        text-align: center;
    }
}

.mask-panel{
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: none;
}

#mobile-menu-btn{
    padding: 15px;
    display: block;
    margin-top: 5px;
    margin-left: -10px;
    color: #fff;
    position: absolute;
    font-size: 16px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
    background: transparent;
    box-shadow: none;
    border: none;

    &:focus{
        outline: none;
    }
}

#mobile-menu-panel{
    position: fixed;
    width: 260px;
    bottom: 0;
    left: -270px;
    z-index: 5;
    top: 0;
    transition: left .6s cubic-bezier(.19,1,.22,1);
    box-shadow: 1px 0 5px rgba(0, 0, 0, 0.15);

    &.show{
        left: 0;
    }

    #side-menu-panel{
        z-index: 2;
        width: 260px;
        overflow-y: auto;

        .side-menu-header{
            background: #4a4a4a;
            color: #fff;
            text-transform: uppercase;
            padding: 15px;
            text-align: center;
            font-size: 16px;

            #close-side-menu-btn{
                position: absolute;
                top: 0;
                right: 15px;
                color: #fff;
                display: block;
                font-size: 50px;
                display: block;
                line-height: 1;
                font-weight: 300;

                &:focus,
                &:hover{
                    text-decoration: none;
                }
            }
        }

        .side-menu-body{
            padding-bottom: 40px;

            .profile-image-panel{
                background: url('../images/profile-image-bg.jpg') no-repeat center center;
                padding: 20px 15px;
                text-align: center;

                .profile-image{
                    display: block;
                    border-radius: 50%;
                    border: 3px solid #ddd;
                    background: #eee;
                    width: 80px;
                    height: 80px;
                    margin: 0 auto 15px;
                    background-size: cover;
                    background-position: center center;
                }

                .name{
                    font-size: 16px;
                    margin-bottom: 5px;
                    font-weight: 400;
                    color: #1d1d1d;
                }

                .nickname{
                    font-weight: 400;
                    color: #1d1d1d;
                }
            }

            .mobile-menus{
                list-style: none;
                margin: 0;

                > li{
                    border-bottom: 1px solid #ddd;

                    > a{
                        display: block;
                        color: @text-color;
                        font-weight: 400;
                        font-size: 15px;
                        padding: 15px;
                        text-align: left;

                        .menu-icon{
                            display: inline-block;
                            vertical-align: top;
                            width: 20px;
                            margin-top: -5px;
                            margin-left: 15px;
                            margin-right: 15px;
                            color: @primary-color;
                            text-align: center;
                            font-size: 20px;
                        }

                        .menu-text{
                            display: inline-block;
                            vertical-align: middle;
                            width: ~"calc(100% - 60px)";
                        }

                        &:focus,
                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .side-menu-panel{
        position: relative;
        min-height: 100vh;

        #logout-btn{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
        }
    }
}

#add-transfer-page{
    #transfer-field{
        margin-top: 20px;

        label{
            display: inline-block;
            vertical-align: middle;
            width: 65px;
            margin-bottom: 0;
            margin-left: 0;
        }

        input{
            margin: 0 10px;
            display: inline-block;
            vertical-align: middle;
            width: ~"calc(100% - 95px - 30px)";

            + label{
                width: 30px;
            }
        }
    }

    #slip-image-upload-btn{
        margin-top: 20px;
    }
}

#total-transfer-panel{
    height: 140px;
    margin: 0 -15px;
    text-align: center;
    padding: 35px 20px 20px;
    background: url('../images/transfer-bg.png') no-repeat bottom center;
    background-size: cover;

    .amount-label{
        font-weight: 400;
        font-size: 16px;
    }

    .total-amount{
        display: inline-block;
        color: #1f9013;
        font-size: 36px;
        font-weight: 400;
        margin-right: 5px;
    }

    .amount-unit{
        display: inline-block;
        font-weight: 400;
    }
}

.contain-bottom-button{
    padding-bottom: 42px;

    &.two-button{
        padding-bottom: 84px;
    }
}

#transfer-filter{
    padding: 15px 0;
}

.no-margin-bottom{
    margin-bottom: 0;
}

.transfer-panel{
    margin: 0 -15px;
    border-radius: 0;
    border: none;

    .panel-heading{
        background: @primary-color;
        color: #fff;
        border-radius: 0;
        font-weight: 400;
    }

    .panel-body{
        padding: 0;

        .transfer-list{
            list-style: none;
            margin: 0;
            border: none;

            > li{
                display: block;
                border-bottom: 1px solid #ddd;
                padding: 15px;

                .amount{
                    color: #1f9013;
                    font-weight: 400;
                }
            }
        }
    }
}

#transfer-date-filter-btn{
    margin-left: 10px;
    position: relative;
    min-width: 180px;
    text-align: left;
    color: @text-color;
    .text-overflow();

    &:after{
        content: '\f0d7';
        font-family: "FontAwesome";
        display: block;
        position: absolute;
        right: 15px;
        top: 5px;
        color: @text-color;
    }
}

#transfer-date-filter-dialog{
    .modal-header{
        .modal-title{
            font-size: 16px;
        }

        .close{
            font-size: 40px;
            font-weight: 300;
            line-height: 24px;

            &:focus{
                outline: none;
            }
        }
    }

    .modal-body{
        padding-bottom: 0;
    }

    .modal-footer{
        border-top: 0;
    }
}

.modal{
    .modal-content{
        // overflow: hidden;

        .modal-header{
            background: @primary-color;
            color: #fff;
            border-radius: 6px 6px 0 0;
        }
    }

    .vertical-alignment-helper {
        // display: table;
        // height: 100%;
        // width: 100%;
        // pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */

    }

    .vertical-align-center {
        /* To center vertically */
        // display: table-cell;
        // vertical-align: middle;
        // pointer-events: none;
    }

    &.style-1{
        margin: 20px 0;

        .modal-content{
            .modal-header{
                background: url('../images/profile-image-bg.jpg');
                background-size: cover;
                color: #fff;
                text-shadow: 0 1px 3px rgba(0, 0, 0, 0.75);
                text-align: center;
                border-radius: 5px 5px 0 0;

                .close{
                    font-size: 40px;
                    text-align: center;
                    font-weight: 300;
                    color: #fff;
                    background: #4a4a4a;
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    opacity: 1;
                    line-height: 20px;
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    line-height: 30px;
                    min-height: auto;
                    display: block;
                    margin-top: -2px;

                }
            }
        }

        .modal-footer{
            margin: 0;
            padding: 0;
            padding-bottom: 0;
            border-radius: 0 0 5px 5px;
            overflow: hidden;
            border: none;
        }
    }
}

#banner-dialog{
    .modal-dialog{
        .modal-content{
            // min-height: 80vh;
            margin: 15px 5px;

            .modal-header{
            }

            .modal-body{
                position: relative;
                opacity: 0;

                .close{
                    position: absolute;
                    top: -12px;
                    right: -12px;
                    z-index: 4;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 38px;
                    color: #fff;
                    border-radius: 50%;
                    border: 3px solid #fff;
                    background: @primary-color;
                    display: block;
                    width: 28px;
                    height: 28px;
                    line-height: 16px;
                    opacity: 1;
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
                    padding: 0;
                    text-align: center;
                }

                .owl-dots{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    .owl-dot{
                        &.active{
                            > span{
                                background: @primary-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.campaign-panel{
    margin: 15px;

    .panel-heading{
        background: #c6a13f;
        color: #fff;

        .date{
            margin-bottom: 8px;
        }
    }

    .panel-body{
        text-align: center;
    }
}

.campaign-detail{
    .title{
        margin: 20px 0 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.4;
    }

    .image{
        margin: 15px 0;
    }

    .description{
        margin: 20px 0;
    }
}

.hierarchy-profile-card{
    margin: 15px 0;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    background-color: #fff;
    z-index: 4;

    &.parent-profile-card{
        padding: 15px;

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            display: block;
            height: 5px;
            width: 100%;
            background: url('../images/border-bg.jpg')
        }

        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            display: block;
            height: 5px;
            width: 100%;
            background: url('../images/border-bg.jpg')
        }

        .profile-image{
            border: 4px solid #ddd;
            width: 76px;
            height: 76px;
            margin: 0 auto 10px;
        }

        .name{
            font-size: 14px;

            .nickname{
                font-size: 12px;
            }
        }

        .member-code{
            margin: 5px 0;
        }

        .member-level{
            margin: 5px 0;
            font-size: 12px;
        }

        .total-downline{
            margin-top: 20px;
            font-size: 12px;
        }
    }

    .profile-image{
        background-color: #fff;
        background-size: cover;
        background-position: center center;
        border-radius: 50%;
        border: 4px solid #ddd;
        width: 64px;
        height: 64px;
        display: block;
        margin: 0 auto 10px;
    }

    .profile-card-dropdown{
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);

        .dropdown-toggle{
            padding: 5px 12px;
            font-size: 12px;
            background: @brown-color-1;
            border-color: @brown-color-1 !important;
            color: #fff;
            border-color: @brown-color-1;
            .text-overflow();
            margin-bottom: 0 !important;

            &:hover,
            &:focus{
                color: #fff;
                background: @brown-color-1;
                border-color: @brown-color-1 !important;
            }
        }
    }

    .name{
        font-weight: 400;
        font-size: 13px;

        .nickname{
            font-size: 11px;
        }
    }

    .member-code{
        margin: 5px 0;
        font-size: 13px;
    }

    .member-level{
        margin: 5px 0;
        color: @primary-color;
        font-weight: 400;
        font-size: 11px;
    }

    .total-downline{
        margin-top: 10px;
        font-size: 11px;
        color: @text-color;
    }
}

#hierarchy-page{
    min-height: ~"calc(100vh - 64px)";
    background: url('../images/info-bg.jpg') no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

.hierarchy-list{
    list-style: none;

    &.sub-list{
        margin-left: 30px;
        position: relative;
        z-index: 2;

        .v-line{
            top: 0;
            width: 2px;
            height: 100%;
            background: #979797;
            position: absolute;
            left: -10px;
        }

        .h-line{
            width: 30px;
            height: 2px;
            background: #979797;
            position: absolute;
            left: -10px;
        }

        > li{
            padding-left: 20px;
            position: relative;
        }
    }
}

.profile-card-dropdown{
    .dropdown-menu{
        min-width: 150px !important;
        font-size: 12px;
        background: @brown-color-1;
        color: #fff;
        margin-top: 0;

        li{
            &.selected{
                a{
                    color: #fff;
                    background: transparent;
                }
            }

            a{
                color: #fff;

                &:hover,
                &:focus{
                    background: transparent;
                }
            }
        }
    }
}

#order-filter-form{
    padding: 20px 0 15px;

    label{
        min-width: 50px;
    }

    .datepicker,
    .bootstrap-select{
        width: ~"calc(100% - 60px)";
    }

    [data-id="order-status-select"]{
        + .dropdown-menu.open{
            left: auto;
            right: 0;
        }
    }
}

.panel{
    &.style-1{
        margin: 0 -15px;
        border-radius: 0;
        border: none;

        + .style-1{
            margin-top: 0;
        }

        .panel-heading{
            background: @primary-color;
            color: #fff;
            border-radius: 0;
            font-weight: 400;
            padding: 10px 15px;

            > a{
                color: #fff;
                display: block;
                margin: -10px -15px;
                padding: 10px 15px;

                &:hover,
                &:focus{
                    text-decoration: none;
                    outline: none;
                }

                &:after{
                    content: "\f0d8";
                    font-family: "FontAwesome";
                    position: absolute;
                    right: 15px;
                    color: #fff;
                }

                &.collapsed{
                    background: #b9b9b9;

                    &:after{
                        content: "\f0d7";
                        font-family: "FontAwesome";
                    }
                }
            }
        }

        .panel-body{
            padding: 0;
        }
    }
}

.downline-order-list,
.order-list,
.transfer-list{
    list-style: none;
    margin: 0;
    border: none;

    > li{
        display: block;
        border-bottom: 1px solid #ddd;
        padding: 15px;

        .order-sign{
            margin-right: 5px;

            &.plus{
                &:before{
                    content: '\f055';
                    font-family: "FontAwesome";
                    color: @text-color;
                }
            }

            &.minus{
                &:before{
                    content: '\f056';
                    font-family: "FontAwesome";
                    color: #53291d;
                }
            }
        }
    }
}

.downline-order-list{

}

.transfer-list{
    > li{
        .amount{
            color: #1f9013;
            font-weight: 400;
        }
    }
}

.order-list{
    .status{
        font-weight: 400;

        &.approved{
            color: @green-color-1;
        }

        &.pending{
            color: @primary-color;
        }

        &.cancelled{
            color: #7c0003;
        }
    }

    .remove-order-btn{
        color: #a5a5a5;
        padding: 0;
        font-size: 18px;
        line-height: 1;
    }

    .remark{
        margin-top: 5px ;
        font-size: 12px;
    }
}

.form-inline{
    .form-group{
        margin-bottom: 15px;
    }

    label{
        display: inline-block;
        vertical-align: middle;
    }

    .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn),
    .bootstrap-select{
        display: inline-block !important;
        vertical-align: middle;
        // width: auto;

        .dropdown-toggle{
            margin-bottom: 0;
        }
    }

    .form-control{
        display: inline-block;
    }
}

input[type="text"].datepicker{
    background: url('../images/calendar-icon.png') no-repeat 90% center #fff;
    background-size: 14px auto;
    padding-right: 22px !important;
    .text-overflow();
}

.datepicker,
.datetimepicker{
    padding: 6px 12px !important;

    &[readonly]{
        background: #fff;
    }
}

.datepicker.dropdown-menu table > tbody > tr > td span.active:hover,
.datepicker.dropdown-menu table > tbody > tr > td span.active,
.datepicker.dropdown-menu table > tbody > tr > td.active:hover,
.datepicker.dropdown-menu table > tbody > tr > td.active,
.datetimepicker.dropdown-menu table > tbody > tr > td span.active:hover,
.datetimepicker.dropdown-menu table > tbody > tr > td span.active,
.datetimepicker.dropdown-menu table > tbody > tr > td.active:hover,
.datetimepicker.dropdown-menu table > tbody > tr > td.active{
    border-radius: 2px;
    background: @primary-color;
}

.datepicker.dropdown-menu table > thead > tr > th,
.datetimepicker.dropdown-menu table > thead > tr > th{
    font-weight: 500;
}

.datepicker.dropdown-menu table > tbody > tr > td.day.active.disabled,
.datetimepicker.dropdown-menu table > tbody > tr > td.day.active.disabled{
    background: #f3f3f3;
    color: #999;
    text-shadow: none;
}

.profile-info{
    &.small{

    }

    .profile-image{
        border: 4px solid #ddd;
        width: 56px;
        height: 56px;
        margin: 0 5px 10px 0;
        border-radius: 50%;
        display: inline-block;
        vertical-align: top;
        background-size: cover;
    }

    .profile-info-panel{
        display: inline-block;
    }

    .name{
        font-size: 12px;
        font-weight: 400;
    }

    .nickname{
        font-size: 10px;
        font-weight: 400;
    }

    .member-code{
        font-size: 10px;
        font-weight: 400;
        margin: 5px 0;
    }
}

.order-amount-label,
.order-remark-label{
    margin-top: 5px;
}

.order-amount-col{
    display: inline-block;
    width: ~"calc(100% - 60px)";
    float: right;

    #order-amount-textbox{
        margin-right: 10px;
        width: ~"calc(100% - 40px)";
    }
}

.order-remark-col{
    display: inline-block;
    width: ~"calc(100% - 70px)";
    float: right;

    #order-remark-textbox{
        width: 100%;
    }
}

.order-info-col{
    .amount{
        font-size: 40px;
        font-weight: 400;
        color: @green-color-2;
        line-height: 1;
    }

    .amount-unit{
        font-size: 10px;
    }
}

.text-primary{
    color: @primary-color;
}

.bg-primary{
    background-color: @primary-color;
}

#downline-order-info{
    padding: 15px 0;

    label{
        margin-bottom: 0;
    }
}

.downline-order-list{
    .time{
        + .name{
            margin-top: 10px;
        }
    }

    .name{
        font-size: 11px;
        font-weight: 400;
    }

    .amount{
        color: @primary-color;
        font-weight: 400;
    }

    .action-btn{
        + .member-code{
            margin-top: 10px;
        }
    }

    .member-code{
        font-size: 12px;
        font-weight: 400;
    }
}

#all-downline-orders-page{
    background-image: url('../images/info-bg.jpg');
    background-size: cover;
    background-position: bottom center;
    min-height: ~"calc(100vh - 64px)";
}